<style>
    .addon {
        width: 100px;
        margin: 0 auto;
        display: block;
        text-align: center;
        background-color: #3c454d;
        color: #ffffff;
        font-weight: 700;
    }

    .card {
        background: #ffffff;
    }

    .form-control {
        height: 38px;
    }
</style>


<div class="container">
    <form method="post" action="/mail">
        <span style="font-size: small">성별</span>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="남자" checked>
            <label class="form-check-label" for="male">남자</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="female" value="여자">
            <label class="form-check-label" for="female">여자</label>
        </div>
        <div class="input-group mb-3 form-control-width">
            <label for="name"><span class="input-group-text" id="basic-addon1" style="width: 75px">이름</span></label>
            <input type="text" class="form-control form-control-width" name="name" placeholder="name" id="name"
                   required>
        </div>
        <div class="input-group mb-3 form-control-width">
            <label for="contact">
                <span class="input-group-text" id="basic-addon3" style="width: 75px">연락처</span>
            </label>
            <input type="text" class="form-control form-control-width" placeholder="연락처" id="contact" name="contact" required>
        </div>
        <div class="input-group mb-3 form-control-width">
            <label for="email">
                <span class="input-group-text" id="basic-addon2" style="width: 75px">이메일</span>
            </label>
            <input type="email" class="form-control " placeholder="seed@example.com" id="email" name="email"
                   required>
        </div>
        <div class="row">
            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="course1">
                    <span class="text-primary">국어</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="korean1">
                            <span class="input-group-text mb-1 addon" style="margin: 0">선택과목</span>
                        </label>
                        <select class="form-select rounded-end form-control" id="korean1" name="elective_subject_korean"
                                required>
                            <option value="화법과 작문" name="elective_subject_korean" selected>화법과 작문</option>
                            <option value="언어와 매체" name="elective_subject_korean">언어와 매체</option>
                        </select>

                        <div class="input-group mb-1">
                            <label for="score_korean">
                                <span class="input-group-text mb-1 addon" id="score1">원점수</span>
                            </label>
                            <input id="score_korean" name="elective_subject_korean" type="number" class="form-control"
                                   placeholder="미입력"
                                   value="" min="0" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="course2">
                    <span class="text-primary">수학</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="elective_subject_math">
                            <span class="input-group-text mb-1 addon rounded-end " style="margin: 0">선택과목</span>
                        </label>
                        <select class="form-select rounded-end form-control" id="elective_subject_math"
                                name="elective_subject_math" required>
                            <option value="확률과 통계" name="elective_subject_math" selected>확률과 통계</option>
                            <option value="미적분" name="elective_subject_math">미적분</option>
                            <option value="기하" name="elective_subject_math">기하</option>
                        </select>
                        <div class="input-group mb-1">
                            <label for="score_math">
                                <span class="input-group-text mb-1 addon" id="score2">원점수</span>
                            </label>
                            <input id="score_math" name="elective_subject_math" type="number" class="form-control"
                                   placeholder="미입력" value="" min="0" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="course3">
                    <span class="text-primary">영어</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <!--                    <span class="input-group-text mb-1 addon" style="margin: 0">과목</span>-->
                        <div class="input-group mb-1">
                            <label for="score_eng">
                                <span class="input-group-text mb-1 addon" id="score3">원점수</span>
                            </label>
                            <input id="score_eng" name="elective_subject_english" type="number" class="form-control"
                                   placeholder="미입력"
                                   value="" min="0" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="course4">
                    <span class="text-primary">탐구</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="exploration">
                            <span class="input-group-text mb-1 addon rounded-end" style="margin: 0">탐구영역</span>
                        </label>
                        <select class="form-select rounded-end form-control" id="exploration" name="course_exploration"
                                required>
                            <option value="과학탐구" name="course_exploration" selected>과학탐구</option>
                            <option value="사회탐구" name="course_exploration">사회탐구</option>
                            <option value="직업탐구" name="course_exploration">직업탐구</option>
                        </select>
                        <div class="input-group mb-1">
                            <label for="course_exploration1">
                                <span class="input-group-text mb-1 addon" id="subject1">선택 과목1</span>
                            </label>
                            <input id="course_exploration1" name="elctvCrs1" type="text" class="form-control"
                                   placeholder="1과목" value="">
                        </div>
                        <div class="input-group mb-1">
                            <label for="course_exploration2">
                                <span class="input-group-text mb-1 addon" id="subject2">선택 과목2</span>
                            </label>
                            <input id="course_exploration2" name="elctvCrs2" type="text" class="form-control"
                                   placeholder="2과목" value="">
                        </div>
                        <div class="input-group mb-1">
                            <label for="score_exploration1">
                                <span class="input-group-text mb-1 addon" id="score4">원점수1</span>
                            </label>
                            <input id="score_exploration1" name="orgnlScore1" type="number" class="form-control"
                                   placeholder="미입력" value="" min="0" required>
                        </div>
                        <div class="input-group mb-1">
                            <label for="score_exploration2">
                                <span class="input-group-text mb-1 addon" id="score5">원점수2</span>
                            </label>
                            <input id="score_exploration2" name="orgnlScore2" type="number" class="form-control"
                                   placeholder="미입력" value="" min="0" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="schedule1">
                    <span class="text-primary">수시 대학별 고사 일정 입력 - 1</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="schedule_1">
                            <span class="input-group-text mb-1 addon" id="univDept1">학교/과</span>
                        </label>
                        <input id="schedule_1" name="schedule_1" type="text" class="form-control"
                               placeholder="학교/학과 입력" value="">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_date1">
                            <span class="input-group-text mb1 addon" id="date1">날짜</span>
                        </label>
                        <input type="date" id="i_date1" name="schedule_1">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_time1">
                            <span class="input-group-text mb1 addon" id="time1">시간</span>
                        </label>
                        <input type="time" id="i_time1" name="schedule_1">
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="schedule2">
                    <span class="text-primary">수시 대학별 고사 일정 입력 - 2</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="i_univDept2">
                            <span class="input-group-text mb-1 addon"
                                  id="univDept2">학교/과</span>
                        </label>
                        <input id="i_univDept2" name="schedule_2" type="text" class="form-control"
                               placeholder="학교/학과 입력" value="">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_date2">
                            <span class="input-group-text mb1 addon" id="date2">날짜</span>
                        </label>
                        <input type="date" id="i_date2" name="schedule_2">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_time2">
                            <span class="input-group-text mb1 addon" id="time2">시간</span>
                        </label>
                        <input type="time" id="i_time2" name="schedule_2">
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="schedule3">
                    <span class="text-primary">수시 대학별 고사 일정 입력 - 3</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="i_univDept3">
                            <span class="input-group-text mb-1 addon"
                                  id="univDept3">학교/과</span>
                        </label>
                        <input id="i_univDept3" name="schedule_3" type="text" class="form-control"
                               placeholder="학교/학과 입력" value="">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_date3">
                            <span class="input-group-text mb1 addon" id="date3">날짜</span>
                        </label>
                        <input type="date" id="i_date3" name="schedule_3">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_time3">
                            <span class="input-group-text mb1 addon" id="time3">시간</span>
                        </label>
                        <input type="time" id="i_time3" name="schedule_3">
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="schedule4">
                    <span class="text-primary">수시 대학별 고사 일정 입력 - 4</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="i_univDept4">
                            <span class="input-group-text mb-1 addon" id="univDept4">학교/과</span>
                        </label>
                        <input id="i_univDept4" name="schedule_4" type="text" class="form-control"
                               placeholder="학교/학과 입력" value="">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_date4">
                            <span class="input-group-text mb1 addon" id="date4">날짜</span>
                        </label>
                        <input type="date" id="i_date4" name="schedule_4">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_time4"><span class="input-group-text mb1 addon" id="time4">시간</span></label>
                        <input type="time" id="i_time4" name="schedule_4">
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="schedule5">
                    <span class="text-primary">수시 대학별 고사 일정 입력 - 5</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="i_univDept5">
                            <span class="input-group-text mb-1 addon" id="univDept5">학교/과</span>
                        </label>
                        <input id="i_univDept5" name="schedule_5" type="text" class="form-control"
                               placeholder="학교/학과 입력" value="">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_date5">
                            <span class="input-group-text mb1 addon" id="date5">날짜</span>
                        </label>
                        <input type="date" id="i_date5" name="schedule_5">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_time5">
                            <span class="input-group-text mb1 addon" id="time5">시간</span>
                        </label>
                        <input type="time" id="i_time5" name="schedule_5">
                    </div>
                </div>
            </div>

            <div class="card border-dark text-dark mt-4 shadow col-md-5">
                <h5 class="card-header fw-bolder" id="schedule6">
                    <span class="text-primary">수시 대학별 고사 일정 입력 - 6</span>
                </h5>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <label for="i_univDept6">
                            <span class="input-group-text mb-1 addon" id="univDept6">학교/과</span>
                        </label>
                        <input id="i_univDept6" name="schedule_6" type="text" class="form-control"
                               placeholder="학교/학과 입력" value="">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_date6">
                            <span class="input-group-text mb1 addon" id="date6">날짜</span>
                        </label>
                        <input type="date" id="i_date6" name="schedule_6">
                    </div>
                    <div class="input-group mb-1">
                        <label for="i_time6">
                            <span class="input-group-text mb1 addon" id="time6">시간</span>
                        </label>
                        <input type="time" id="i_time6" name="schedule_6">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Submit" href="/mail">
        </div>
    </form>
</div>