<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('head.html')%>
</head>
<body>
<%- include ('navbar.html')%>

<img src="assets/img/bg/testi.png" alt="price list">

<%- include ('footer.html') %>
</body>
</html>