<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Consulting_2nd3rd</title>

  <!-- Bootstrap CSS -->


  <!-- Icon Font CSS -->
  <!--    <link rel="stylesheet" href="assets/css/icons.min.css">-->

  <!-- Plugins CSS -->
  <!--    <link rel="stylesheet" href="assets/css/plugins.css">-->

  <!-- Main Style CSS -->
  <!--    <link rel="stylesheet" href="assets/css/style.css">-->

  <!-- Modernizer JS -->
  <!--    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>-->
</head>
<body>

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">가군</th>
    <th scope="col">나군</th>
    <th scope="col">다군</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row" rowspan="2">1지망</th>
    <td>
      <label for="univ11"><input type="text" class="form-control" id="univ11" placeholder="대학" style="width:150px;"></label>
    </td>
    <td>
      <label for="univ12"><input type="text" class="form-control" id="univ12" placeholder="대학" style="width:150px;"></label>
    </td>
    <td>
      <label for="univ13"><input type="text" class="form-control" id="univ13" placeholder="대학" style="width:150px;"></label>
    </td>
  </tr>
  <tr>
    <td>
      <label for="dept11"><input type="text" class="form-control" id="dept11" placeholder="학과" style="width:150px;"></label>
    </td>
    <td>
      <label for="dept12"><input type="text" class="form-control" id="dept12" placeholder="학과" style="width:150px;"></label>
    </td>
    <td>
      <label for="dept13"><input type="text" class="form-control" id="dept13" placeholder="학과" style="width:150px;"></label>
    </td>
  </tr>
  <tr>
    <th scope="row" rowspan="2">2지망</th>
    <td>
      <label for="univ21"><input type="text" class="form-control" id="univ21" placeholder="대학" style="width:150px;"></label>
    </td>
    <td>
      <label for="univ22"><input type="text" class="form-control" id="univ22" placeholder="대학" style="width:150px;"></label>
    </td>
    <td>
      <label for="univ23"><input type="text" class="form-control" id="univ23" placeholder="대학" style="width:150px;"></label>
    </td>
  </tr>
  <tr>
    <td>
      <label for="dept21"><input type="text" class="form-control" id="dept21" placeholder="학과" style="width:150px;"></label>
    </td>
    <td>
      <label for="dept22"><input type="text" class="form-control" id="dept22" placeholder="학과" style="width:150px;"></label>
    </td>
    <td>
      <label for="dept23"><input type="text" class="form-control" id="dept23" placeholder="학과" style="width:150px;"></label>
    </td>
  </tr>
  <tr>
    <th scope="row" rowspan="2">3지망</th>
    <td>
      <label for="univ31"><input type="text" class="form-control" id="univ31" placeholder="대학" style="width:150px;"></label>
    </td>
    <td>
      <label for="univ32"><input type="text" class="form-control" id="univ32" placeholder="대학" style="width:150px;"></label>
    </td>
    <td>
      <label for="univ33"><input type="text" class="form-control" id="univ33" placeholder="대학" style="width:150px;"></label>
    </td>
  </tr>
  <tr>
    <td>
      <label for="dept31"><input type="text" class="form-control" id="dept31" placeholder="학과" style="width:150px;"></label>
    </td>
    <td>
      <label for="dept32"><input type="text" class="form-control" id="dept32" placeholder="학과" style="width:150px;"></label>
    </td>
    <td>
      <label for="dept33"><input type="text" class="form-control" id="dept33" placeholder="학과" style="width:150px;"></label>
    </td>
  </tr>


  </tbody>
</table>



<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!--<script src="assets/js/bootstrap.min.js"></script>-->
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
</body>
</html>