<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('head.html')%>
    <title>Consulting</title>
</head>
<body>
<%- include ('navbar.html')%>

<img src="img/price_list-copy.png" alt="price list" style="width: 80%;">

<%- include ('footer.html') %>
</body>
</html>