<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>씨앗학원</title>
    <%-include('./vendors.ejs')%>
    <style type="text/css">
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
        @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

        body {
            font-family: 'Nanum Gothic';
            font-weight: 800;
            font-stretch: normal;
        }
    </style>
    <script>
        $(function () {
            $("#gfg").tabs();
            $("#gfg").tabs("load", 0);
        });
    </script>
</head>

<body>