<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%- include ('head.html')%>
</head>

<body>
<%- include ('navbar.html')%>

<div class="slider-area ">
    <div class="slider-active-2 owl-carousel nav-style-2">
        <div class="single-slider slider-height-3 bg-img pt-170"
             style="background-image:url(public/assets/img/slider/slider-bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="slider-single-img2 slider-animated-2">
                            <img class="animated" src="assets/img/slider/single-slide-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content-3 slider-animated-2 pt-115 ml-55">
                            <h1 class="animated"><span class="text-blue">S</span>hop<span class="text-pink">P</span>ing
                                Time</h1>
                            <p class="animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor
                                eiusmod incididunt ut labore et dolore magna aliqua. </p>
                            <div class="slider-btn">
                                <a class="animated default-btn btn-green-color" href="cart.html">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height-3 bg-img pt-170"
             style="background-image:url(public/assets/img/slider/slider-5.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="slider-single-img2 slider-animated-2">
                            <img class="animated" src="assets/img/slider/single-slide-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content-3 slider-animated-2 pt-115 ml-55">
                            <h1 class="animated"><span class="text-blue">S</span>hop<span class="text-pink">P</span>ing
                                Time</h1>
                            <p class="animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor
                                eiusmod incididunt ut labore et dolore magna aliqua.</p>
                            <div class="slider-btn">
                                <a class="animated default-btn btn-green-color" href="cart.html">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ('footer.html') %>


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"> -->
<!-- <div class="modal-dialog" role="document"> -->
<!-- <div class="modal-content"> -->
<!-- <div class="modal-header"> -->
<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button> -->
<!-- </div> -->
<!-- <div class="modal-body"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-5 col-sm-12 col-xs-12"> -->
<!-- <div class="tab-content quickview-big-img"> -->
<!-- <div id="pro-1" class="tab-pane fade show active"> -->
<!-- <img src="assets/img/product/quickview-l1.jpg" alt=""> -->
<!-- </div> -->
<!-- <div id="pro-2" class="tab-pane fade"> -->
<!-- <img src="assets/img/product/quickview-l2.jpg" alt=""> -->
<!-- </div> -->
<!-- <div id="pro-3" class="tab-pane fade"> -->
<!-- <img src="assets/img/product/quickview-l3.jpg" alt=""> -->
<!-- </div> -->
<!-- <div id="pro-4" class="tab-pane fade"> -->
<!-- <img src="assets/img/product/quickview-l2.jpg" alt=""> -->
<!-- </div> -->
<!-- </div> -->
<!-- Thumbnail Large Image End -->
<!-- Thumbnail Image End -->
<!-- <div class="product-thumbnail"> -->
<!-- <div class="thumb-menu owl-carousel nav nav-style" role="tablist"> -->
<!-- <a class="active" data-bs-toggle="tab" href="#pro-1"><img src="assets/img/product/quickview-s1.jpg" alt=""></a> -->
<!-- <a data-bs-toggle="tab" href="#pro-2"><img src="assets/img/product/quickview-s2.jpg" alt=""></a> -->
<!-- <a data-bs-toggle="tab" href="#pro-3"><img src="assets/img/product/quickview-s3.jpg" alt=""></a> -->
<!-- <a data-bs-toggle="tab" href="#pro-4"><img src="assets/img/product/quickview-s2.jpg" alt=""></a> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-md-7 col-sm-12 col-xs-12"> -->
<!-- <div class="product-details-content quickview-content"> -->
<!-- <h2>Product Name</h2> -->
<!-- <div class="pro-details-rating-wrap"> -->
<!-- <div class="pro-details-rating"> -->
<!-- <i class="zmdi zmdi-star"></i> -->
<!-- <i class="zmdi zmdi-star"></i> -->
<!-- <i class="zmdi zmdi-star"></i> -->
<!-- <i class="zmdi zmdi-star"></i> -->
<!-- <i class="zmdi zmdi-star"></i> -->
<!-- </div> -->
<!-- <span>(1 customer review)</span> -->
<!-- </div> -->
<!-- <h3>$329</h3> -->
<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunca augue quis neque ultrices placerat sit amet quis mauris. Integer urna libero, aliquet neque posu ullamcorper fringilla dolor. Maecenas id mattis magna. </p> -->
<!-- <div class="pro-details-size-color2 mt-30"> -->
<!-- <div class="pro-details-color2-wrap"> -->
<!-- <span>Color</span> -->
<!-- <div class="pro-details-color2-content"> -->
<!-- <ul> -->
<!-- <li class="blue"></li> -->
<!-- <li class="maroon active"></li> -->
<!-- <li class="gray"></li> -->
<!-- <li class="green"></li> -->
<!-- <li class="yellow"></li> -->
<!-- <li class="white"></li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="pro-details-size2"> -->
<!-- <span>Size</span> -->
<!-- <div class="pro-details-size2-content"> -->
<!-- <ul> -->
<!-- <li><a href="#">s</a></li> -->
<!-- <li><a href="#">m</a></li> -->
<!-- <li><a href="#">l</a></li> -->
<!-- <li><a href="#">xl</a></li> -->
<!-- <li><a href="#">xxl</a></li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="pro-details-quality mt-50 mb-45"> -->
<!-- <div class="cart-plus-minus"> -->
<!-- <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2"> -->
<!-- </div> -->
<!-- <div class="pro-details-cart"> -->
<!-- <a class="default-btn btn-hover" href="#">Add To Cart</a> -->
<!-- </div> -->
<!-- <div class="pro-details-wishlist"> -->
<!-- <a class=" btn-hover" href="#"><i class="fa fa-heart-o"></i></a> -->
<!-- </div> -->
<!-- </div> -->
<!-- <span><i class="fa fa-check"></i> In stock</span> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- Modal end -->


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-v2.2.4.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>

</html>