<header class="header-area">
  <div class="header-top bg-img" style="background-image:url(assets/img/icon-img/header-shape.png);">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-12 col-sm-8">
          <div class="header-contact">
            <ul>
              <li><i class="fa fa-phone"></i> +98 558 547 589</li>
              <li><i class="fa fa-envelope-o"></i><a href="mailto:seedcunsultion@gmail.com">seedconsulting@gmail.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom sticky-bar clearfix">
    <div class="container">
      <div class="row">
<!--        <div class="col-lg-2 col-md-6 col-4">-->
<!--          <div class="logo">-->
<!--            <a href="/">-->
<!--              <img alt="" src="assets/img/logo/logo.png">-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
        <div class="col-lg-10 col-md-6 col-8">
          <div class="menu-cart-wrap">
            <div class="main-menu">
              <nav>
                <ul>
                  <li><a href="/"> HOME </a></li>
                  <li><a href="/consulting"> 컨설팅 </a></li>
                  <li><a href="/reference_table">배치표</a></li>
                  <li><a href="#"> PAGES </a></li>
                  <li><a href="course.html"> COURSES / PROGRAMMES</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-menu-area">
        <div class="mobile-menu">
          <nav id="mobile-menu-active">
            <ul class="menu-overflow">
              <li><a href="/">HOME</a></li>
              <li><a href="/consulting">컨설팅</a></li>
              <li><a href="/reference_table">배치표</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>