<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">씨앗학원</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/consulting">컨설팅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/reference_table">배치표</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/reference_table">PAGES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>