<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('head.html')%>
        <title>Reference Table</title>
</head>

<body>
    <%- include ('navbar.html')%>

        <div class="custom-control custom-radio custom-control-inline"        >
            <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">1차</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">2차</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="customRadioInline" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline3">3차</label>
        </div>



        <%- include ('footer.html') %>
</body>

</html>