<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reference_2nd3rd</title>

    <!-- Bootstrap CSS -->


    <!-- Icon Font CSS -->
<!--    <link rel="stylesheet" href="assets/css/icons.min.css">-->

    <!-- Plugins CSS -->
<!--    <link rel="stylesheet" href="assets/css/plugins.css">-->

    <!-- Main Style CSS -->
<!--    <link rel="stylesheet" href="assets/css/style.css">-->

    <!-- Modernizer JS -->
<!--    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>-->
</head>
<body>


<form>
    <!--<form class="gform" method="post" data-email="seedconsulting2022@gmail.com">-->
    <!--      action="https://script.google.com/macros/s/AKfycbwva-BAVS5b8Re4Km1TBAcYj4HAyvQ8DO_7aHi48SqeUlM5jzvO8mDaAu7p3pMsetwC/exec" target="frAttachFiles">-->
    <legend class="col-form-label col-sm-2 float-sm-left pt-0">성별</legend>
    <div class="col-sm-10">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="성별" id="성별1"
                   value="남자">
            <label class="form-check-label" for="성별1">남자</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="성별" id="성별2"
                   value="여자">
            <label class="form-check-label" for="성별2">여자</label>
        </div>
    </div>

    <div class="form-group row">
        <label for="이름" class="col-sm-2 col-form-label">이름</label>
        <div class="col-sm-10 form-elements">
            <input type="text" class="form-control" id="이름" name="이름" placeholder="이름을 입력하세요"
                   style="width:200px;" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">이메일</label>
        <div class="col-sm-10 form-elements">
            <input type="email" class="form-control" id="email" name="email" placeholder="이메일 주소"
                   style="width:300px;" required>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">국어</th>
            <th scope="col">수학</th>
            <th scope="col">영어</th>
            <th scope="col" colspan="3">탐구</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="국어" id="국어1"
                               value="화법과 작문" checked>
                        <label class="form-check-label" for="국어">화작</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="국어2" id="inlineRadio2"
                               value="언어와 매체">
                        <label class="form-check-label" for="inlineRadio2">언매</label>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="수학" id="exampleRadios1"
                               value="확률과 통계" checked>
                        <label class="form-check-label" for="exampleRadios1">확통</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="수학" id="exampleRadios2"
                               value="미적분">
                        <label class="form-check-label" for="exampleRadios2">미적</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="수학" id="exampleRadios3"
                               value="기하학">
                        <label class="form-check-label" for="exampleRadios3">기하</label>
                    </div>
                </div>
            </td>
            <td>
                <!--            영어 영역-->
            </td>
            <td>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="탐구" id="탐구1"
                               value="과탐" checked>
                        <label class="form-check-label" for="탐구1">
                            과탐
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="탐구" id="탐구2"
                               value="사탐">
                        <label class="form-check-label" for="탐구2">
                            사탐
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="탐구" id="탐구3"
                               value="직탐">
                        <label class="form-check-label" for="탐구3">
                            직탐
                        </label>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" id="subject1" placeholder="과목1 직접입력" style="width:150px;"
                       required>
                <input type="text" class="form-control" id="subject2" placeholder="과목2 직접입력" style="width:150px;">
            </td>
        </tr>
        <tr>
            <th scope="row">원점수(입력)</th>
            <td>
                <input type="text" class="form-control" id="국어" placeholder="점수 입력" style="width:100px;" required>
            </td>
            <td>
                <input type="text" class="form-control" id="수학" placeholder="점수 입력" style="width:100px;"
                       required>
            </td>
            <td>
                <input type="text" class="form-control" id="영어" placeholder="점수 입력" style="width:100px;"
                       required>
            </td>
            <td>
                <input type="text" class="form-control" id="과목1" placeholder="과목1 점수입력" style="width:150px;"
                       required>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" id="과목2" placeholder="과목2 점수입력" style="width:150px;">
            </td>
        </tr>

        </tbody>
    </table>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="float: right;" href="/mail">제출하기</button>
        </div>
    </div>
</form>


<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!--<script src="assets/js/bootstrap.min.js"></script>-->
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
</body>
</html>