<!doctype html>
<html lang="en">
<!-- file for test -->
<head>
    <meta charset="utf-8">
    <%- include ('head.html') %>
</head>
<body>
<style>
    .addon {
        width: 100px;
        margin: 0 auto;
        display: block;
        text-align: center;
        background-color: #3c454d;
        color: #ffffff;
        font-weight: 700;
    }

    .card {
        background: #ffffff;
    }
</style>
<script>
    function createDIV(){
        obj = document.getElementById("parent");
        newDiv = document.createElement("div");
        newDiv.innerHTML = "새로 생성된 DIV입니다. 누르면 삭제 됩니다.";
        newDiv.setAttribute("id", "myDiv"); // 새롭게 만들어지는 div 태그에 id 값 저장
        newDiv.style.backgroundColor = "yellow";

        // 익명 함수 : 바로 그 이벤트를 실행하기위해 이름을 정하지 않고 바로실행
        newDiv.onclick = function(){
            p = this.parentElement; //부모 HTML 태그요소
            p.removeChild(this); // 자신을 부모 태그로 부터 제거
        }

        obj.appendChild(newDiv);
    }
</script>


<div class="container">
    <div class="row">

        <div class="card border-dark text-dark mt-4 shadow col-md-5">
            <h5 class="card-header fw-bolder" id="course5">
                <span class="text-primary">수시 대학별 고사 일정 입력</span>
            </h5>
            <div class="card-body">
                <div class="input-group mb-1">
                    <span class="input-group-text mb-1 addon" id="univDept">학교/과</span>
                    <input id="i_univDept" name="i_univDept" type="text" class="form-control" placeholder="학교/학과 입력"
                           aria-label="학교/학과 입력"
                           aria-describedby="학교/학과 입력" value="">
                </div>
                <div class="input-group mb-1">
                    <label for="i_date"><span class="input-group-text mb1 addon" id="date">날짜</span></label>
                    <input type="date" id="i_date" name="date">
                </div>
                <div class="input-group mb-1">
                    <label for="i_time"><span class="input-group-text mb1 addon" id="time">날짜</span></label>
                    <input type="time" id="i_time" name="time">
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-success" href="javascript:createDIV()">추가</button>
                <button type="button" class="btn btn-danger">삭제</button>
            </div>
        </div>

        <div class="card border-dark text-dark mt-4 shadow col-md-5">
            <h5 class="card-header fw-bolder" id="course6">
                <span class="text-primary">요청사항</span>
            </h5>
            <div class="card-body">
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" style="height: 200px"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>
